<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="differential_drive_controller" filename="libgazebo_ros_control.so">
      <rosDebugLevel>Debug</rosDebugLevel>
      <publishWheelTF>false</publishWheelTF>
      <robotNamespace>/roseco</robotNamespace>
      <publishTf>true</publishTf>
      <publishWheelJointState>false</publishWheelJointState>
      <alwaysOn>true</alwaysOn>
      <updateRate>20.0</updateRate>
      <leftJoint>left_wheel_joint</leftJoint>
      <rightJoint>right_wheel_joint</rightJoint>
      <wheelSeparation>0.1</wheelSeparation>
      <wheelDiameter>0.06</wheelDiameter>
      <broadcastTF>1</broadcastTF>
      <wheelTorque>10</wheelTorque>
      <wheelAcceleration>0.5</wheelAcceleration>
      <commandTopic>cmd_vel</commandTopic>
      <odometryFrame>odom</odometryFrame>
      <odometryTopic>odom</odometryTopic>
      <robotBaseFrame>base_footprint</robotBaseFrame>
      
    </plugin>
  </gazebo>

  
</robot>